/* about.html styling */

.about-text{
  font-family: Helvetica,Helvetica,Arial,sans-serif;
  color: #05151F;
  font-size: 1.1rem;
  font-weight: lighter;
  line-height: 1.5rem;
}
.about-text a{
  text-decoration: none;
  color:inherit;
  font-weight: normal;
  white-space: nowrap;
  transition: 0.2s ease;
  background-color: #D5F8E7;
}
.about-text a:hover{
  font-size: 1.11rem;
  background-color: #A6F8CF;
}
.about-text #email-action{
  background-color: #FCEADB;
}
.about-text #email-action:hover{
  background-color:#FFD5B2;
}

/* navigation bar */
.nav-bar-style{
  font-family: Helvetica,Helvetica,Arial,sans-serif;
  font-size: 1.1rem;
  font-weight: lighter;
}

.nav-bar-style a{
  text-decoration: none;
  color:#BDBDBD;
  transition: 0.2s ease;
}
.nav-bar-style a:hover{
  color: #05151F;
}

.nav-bar-style #selected{
  border-bottom-style: solid;
  border-color: #A6F8CF;
  border-bottom-width: 4px;
  color: #05151F;
}

/* landing page*/

.landing-greeting{
  font-family: Helvetica,Helvetica,Arial,sans-serif;
  color: #05151F;
  font-size: 1.4rem;
  font-weight: bolder;
  margin-bottom: .5rem;
}

.landing-heading{
  font-family: 'Roboto', sans-serif;
  font-size: 2.2rem;
  font-weight: 100;
}
.landing-subhead{
  font-family: Helvetica,Helvetica,Arial,sans-serif;
  color: #05151F;
  font-size: 1.1rem;
  font-weight: lighter;
  line-height: 1.5rem;
  margin-top: .5rem;
}
.landing-svg{
  width:100%;
  margin-top:-15rem;
}

.landing-works{
  float: right;
  width: 50%;
  margin-top:-20rem;
}

/* portfolio */

.portfolio-text{
  text-align: center;
}

.iframe{
  border-style: none;
}
